.checkbox {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 109, 218);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
    color: hsl(0, 0%, 90%);    
}

.checkbox:hover {
    background-color: rgba(0, 128, 255, 0.1);
}

.checkboxInner {
    display: flex;
    margin: 0 0.5em;
    width: 1.25em;
    cursor: inherit;
}

.checkboxLabel {
    width: 100%;
    position: relative;
    padding: .5em;

    cursor: inherit;
    font-size: 1rem;
    color: inherit;
    border-left: 1px solid rgb(0, 109, 218);
}

.checkbox.disabled {
    cursor: not-allowed;
    color: hsl(0, 0%, 50%);    
}

.checkbox.disabled:hover {
    background-color: unset
}
