.h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(231, 231, 231);
}

.listHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.listHeader > :first-child{
    margin-right: auto;
    margin-left: 1em;
}

.profileList {
    padding: 1em;
}

.profileList,
.profileListInner {
    display: flex;
    flex-direction: column;
}

.profileList,
.profileListInner,
.profiles {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.profiles {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em 0;
}

h2{
    margin: 0;
}