.profile {
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 74, 94, 0.627);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    
    border: solid 1px transparent;
    transition: border-color 0.1s ease-in-out;
}

.profile.active{
    border: 1px solid rgb(0, 109, 218);
}

.profileCanvas {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    transition: 0.1s;
}

.profileCrop{
  position: relative;
}

.profileFooter {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #494A5E;
}

.profileCheckbox {
    display: flex;
    padding: 0 0.5em;
    cursor: pointer;
}

.profileCheckbox input {
    width: 1.25em;
    cursor: pointer;
}

.profileName {
    width: 100%;
    position: relative;
    padding: .75em;

    font-size: 1rem;
    color: hsl(0, 0%, 75%);
    border-left: 1px solid #494A5E;
}

.profileName::after{
    content: "";
    position: absolute;
    bottom: .5em;
    left: 5%;
    height: 1px;
    width: 90%;
    background-color: rgb(0, 109, 218);
}

.profileName > input{
    width: 100%;
    background-color: transparent;
    color: inherit;
    font-size: 1rem;

    outline: none;
    padding: 0;
    border: none;
}

.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.25em;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
}

.deleteBtn.active {
    opacity: 1;
    pointer-events: auto;
}

.miniPreviews {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.miniPreviews > canvas {
  transition: 0.1s;
}

.profileCanvasSmall{
  height: 48px;
  width: 48px;
}

.profileCanvasSmaller{
  height: 32px;
  width: 32px;
}

.rounded {
    border-radius: 50%;
}
