html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #161122 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAEZJREFUSEtjZKADYKSDHQyjlpAUyqPBNRpcJIUASYoHZ+paNvPM/6h0E5IcR5JiksIISfGoJSSF3GhwjQYXSSFAkuLhk7oAQWoEGsNrsLAAAAAASUVORK5CYII=') repeat;

    color: #fff;
    text-align: center;
}

:root{
    --bg-color-900: hsl(256,33%,10%);
    --bg-color-800: #1d1e30;
    --bg-dot-color: hsl(256,33%,70%);
    --accent-1: #7888F3;
    --red: #DD7B6A;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
    height: 100%;
}

.main{
    height: 100%;
    display: flex;
    flex-flow: row;
}

.crop-container{
    flex: 1 1 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-panel{
    display: flex;
    flex-flow: column;
    flex: 1 0 25em;
    max-width: 30em;

    background-color: #1d1e30;
}

.header {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: #252e42 solid 1px;

    flex: 0 1 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header img{
    height: 2em;
}

.profile-manager {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 1em;
    flex-grow: 1;
    min-height: 0;
}


.profiles {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    margin: 1em 0;
}

.profile {
    display: flex;
    flex-flow: row;
    background-color: #494A5E;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.profile + .profile{
    margin-top: 1em;
}

.profile:active {
    position: relative;
    top: 1px;
}

.active {
    /*background-color: #7b9cd7;
    background: linear-gradient(135deg, #335870, #428192);
    */
}

.profile-name {
    padding: .75em;
    flex: 1 1 auto;
}

.profile-name input{
    color: #e1e1e1;
    padding: 0.25em 0.5em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--accent-1);
}

.profile-footer {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    background-color: #3F3951;
    user-select: none;
    color: #e0efff;
    /*
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    */
}

.btn-group{
    display: flex;
    flex-flow: row wrap;
    gap: .25em;
}

.btn-group .btn{
    flex: 1 1 40%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border: none;
    color: white;
    font-size: 1em;
    padding: .5em .75em;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-small{
    padding: 0;
}

.btn-red{
    background-color: #d54040;
}
.btn-red:hover, .btn-red:focus{
    background-color: #bd3030;
}

.btn-control{
    background-color: var(--accent-1);
}
.btn-control:hover, .btn-control:focus {
    background-color: #5b68c4;
}

.btn-upload{
    background-color: #00B38B;
}
.btn-upload:hover, .btn-upload:focus{
    background-color: #007D59;
}

.footer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 1em;
    padding: .5em 0;
    border-top: #252e42 solid 1px;
}